*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.background {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(161, 112, 112, 0.4), rgba(214, 126, 126, 0.4)),url(rrr.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
/*content*/
h1{
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 50px;
}
p {
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: brown;
}
/*two button*/
.button{
    text-align: center;
    margin: 70px auto 0;
    font-size: 20px;
}

.button a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #070606;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
    background-color: #fff;
}

.button a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: -1;
    transition: 0.5s;
   
}
.button a:hover span{
    width: 100%;
}
.button a:hover{
    color: #000;
}

/*about*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.ok {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(156, 111, 111, 0.4), rgba(214, 126, 126, 0.4)),url(aaa.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.h1{
    padding: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 50px;
}
.p{
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 10px;
    background-color: brown;
}

#container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 500px;

}

#container div {
    height: 600px;
    width: 800px;
    background: rgb(201, 73, 73);
    margin: 60px;
    text-align: center;
    color: #fff;

}

/* events */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.ok1  {
    height: 60%;
    width: 100%;
    background-image: linear-gradient(rgba(156, 111, 111, 0.4), rgba(214, 126, 126, 0.4)),url(aaa.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.h1 {
    padding: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 50px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card{
    width: 700px;
    background-color: brown;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100;
    height: 100;
    
}

.card-content{
    padding: 16px;
}

/* facilities*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.ok2 {
    background-color:rgb(189, 86, 72);
    background-size: 500px 500px;
}

/* shs bldg */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.ok2 {
    background-color:rgb(189, 86, 72);
    background-size: 500px 500px;
}

/*stem*/

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.stemm{
    background-color:rgb(189, 86, 72);
    background-size: 200px 200px;
}
.h1{
    color: black;
    font-weight: bold;
}

/*abm*/

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.abm{
    background-color:rgb(189, 86, 72);
    background-size: 200px 200px;
}
.h1{
    color: black;
    font-weight: bold;
}

/*gas*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.gas{
    background-color:rgb(189, 86, 72);
    background-size: 200px 200px;
}
.h1{
    color: black;
    font-weight: bold;
}

/*tvl*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.tvl{
    background-color:rgb(189, 86, 72);
    background-size: 200px 200px;
}
.h1{
    color: black;
    font-weight: bold;
}

/*more*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.more{
    background-color:rgb(189, 86, 72);
    background-size: 200px 200px;
}
.h1{
    color: black;
    font-weight: bold;
}

/*faculty*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.faculty {
    background-color:rgb(189, 86, 72);
    background-size: 500px 500px;
}


/*alma*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.alma{
    background-color:rgb(189, 86, 72);
    background-size: 200px 200px;
}
.h1{
    color: black;
    font-weight: bold;
}

/*uni*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.uni{
    background-color:rgb(189, 86, 72);
    background-size: 200px 200px;
}
.h1{
    color: black;
    font-weight: bold;
}